@font-face {
	font-family: 'SuperMarioGalaxy';
	src: url('/fonts/SuperMarioGalaxy.eot'),
	    url('/fonts/SuperMarioGalaxy.woff2') format('woff2'),
	    url('/fonts/SuperMarioGalaxy.woff') format('woff'),
	    url('/fonts/SuperMarioGalaxy.ttf') format('truetype'),
	    url('/fonts/SuperMarioGalaxy.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: amiga;
    src: url('../fonts/TopazPlus.eot');
    src: url('../fonts/TopazPlus.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TopazPlus.woff2') format('woff2'),
         url('../fonts/TopazPlus.woff') format('woff'),
         url('../fonts/TopazPlus.ttf') format('truetype'),
         url('../fonts/TopazPlus.svg#topazplus_a600a1200a4000Rg') format('svg');
    font-weight: 400;
}

html, body{
	height: 100%;
	margin: 0px;
	padding: 0px;
}

body{
	height: 100%;
	font-family: amiga;
	background: url('/images/background.jpg') repeat-x;
	background-color: #36e5e1;
	color: #333;
}

h1 {
	font-family: ;
	color: #fff100;
	font-size: 3em;
	padding-bottom: 20px;
}

h1 a, h1 a:hover {
	color: #fff100;
	text-decoration: underline;
}

.wrapper {
	z-index: 100;
}

ul{
	list-style-type: none;
	border-bottom: 2px solid;
	overflow: hidden;
	z-index: 100;
}

ul.header{
	font-size: 1.2em;
}

li{
	display: block;
	float: left;
	padding: 5px;
}

ul li:first-child{
	width: 5%;
}

ul li:nth-child(2){
	width: 50%;
}

ul li:nth-child(3){
	width: 20%;
}

ul li:nth-child(4){
	width: 25%;
}

.image-points::before{
   content: '$\0020';
   font-size: 1.2em;
   color:#e0e000;
}

.image-levels::before{
	content: "\02605\0020";
	font-size: 1.2em;
	color:#e0e000;
}

.page-header{
	border-bottom: none;
	text-align: center;
}

#cloud1{
	position: absolute;
	top: 125px;
	left: 5px;
}

#cloud2{
	position: absolute;
	top: 60px;
	left: 230px;
}

#sun{
	position: absolute;
	right: 50px;
	top: 120px;
}

#trees{
	background: url('/images/trees.png') repeat-x;
	width: 100%;
	height: 30px;
	z-index: 1;
}

#floor{
	position: absolute;
	background: url('/images/floor.jpg') repeat-x;
	width: 100%;
	height: 78px;
	z-index: 3;
}