@font-face {
	font-family: 'SuperMarioGalaxy';
	src: url('/fonts/SuperMarioGalaxy.eot'),
	    url('/fonts/SuperMarioGalaxy.woff2') format('woff2'),
	    url('/fonts/SuperMarioGalaxy.woff') format('woff'),
	    url('/fonts/SuperMarioGalaxy.ttf') format('truetype'),
	    url('/fonts/SuperMarioGalaxy.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: amiga;
    src: url('../fonts/TopazPlus.eot');
    src: url('../fonts/TopazPlus.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TopazPlus.woff2') format('woff2'),
         url('../fonts/TopazPlus.woff') format('woff'),
         url('../fonts/TopazPlus.ttf') format('truetype'),
         url('../fonts/TopazPlus.svg#topazplus_a600a1200a4000Rg') format('svg');
    font-weight: 400;
}

body{
	font-family: amiga;
	background-size: cover;
	background-color: #000;
	color: #fff;
}

h1{
	font-family: ;
	color: #fff100;
	font-size: 3em;
	padding-bottom: 20px;
}

ul{
	list-style-type: none;
	border-bottom: 2px solid;
	overflow: hidden;
}

ul.header{
	font-size: 1.2em;
}

li{
	display: block;
	float: left;
	padding: 10px;
}

ul li:first-child{
	width: 5%;
}

ul li:nth-child(2){
	width: 60%;
}

ul li:nth-child(3){
	width: 20%;
}

ul li:nth-child(4){
	width: 15%;
}

.image-points::before{
   content: '$\0020';
   font-size: 1.2em;
   color:#e0e000;
}

.image-levels::before{
	content: "\02605\0020";
	font-size: 1.2em;
	color:#e0e000;
}

.page-header{
	border-bottom: none;
	text-align: center;
}