@font-face {
	font-family: 'SuperMario';
	src: url('/fonts/Super-Mario-World.eot'),
	    url('/fonts/Super-Mario-World.woff2') format('woff2'),
        url('/fonts/Super-Mario-World.ttf') format('truetype'),
	    url('/fonts/Super-Mario-World.woff') format('woff'),
	    url('/fonts/Super-Mario-World.ttf') format('truetype'),
	    url('/fonts/Super-Mario-World.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

html, body{
	height: 100%;
	margin: 0px;
	padding: 0px;
}

body{
	height: 100%;
	background: url('/images/background.jpg') repeat-x;
	background-color: #36e5e1;
	font-family: SuperMario;
	color: #fff;
}

.challenge_layout1, .challenge_layout2, .step_layout, .column_small, .column_medium, .column_large, .column_laterale{
	position: absolute;
	z-index: 2;
}

.challenge_layout1{
	background: url('/images/yellow_brick.jpg') repeat; /* 68x61 */
}

.challenge_layout2{
	background: url('/images/brown_brick.jpg') repeat; /* 68x61 */
}

/*.challenge_layout1 a, .challenge_layout2 a{
	display: block;
}*/

.challenge_layout1 a img, .challenge_layout2 a img{
	float: left;
}

#cloud1{
	position: absolute;
	top: 65px;
	left: 5px;
}

#cloud2{
	position: absolute;
	top: 120px;
	left: 230px;
}

.column_large{
	background: url('/images/column_large.png') no-repeat;
	width: 450px;
	height: 507px;
}

.column_laterale{
	background: url('/images/column_laterale.png') no-repeat;
	width: 168px;
	height: 367px;
}

.column_medium{
	background: url('/images/column_medium.png') no-repeat;
	width: 223px;
	height: 251px;
}

.column_small{
	background: url('/images/column_small.png') no-repeat;
	width: 132px;
	height: 112px;
}

#floor{
	position: absolute;
	bottom: 0px;
	background: url('/images/floor.jpg') repeat-x;
	width: 100%;
	height: 78px;
	z-index: 3;
	display: inline-block;
}

#content {
	width: 980px;
	margin: 0 auto;
}

#mountains{
	position: absolute;
	bottom: 67px;
	background: url('/images/mountains.png') repeat-x;
	width: 100%;
	height: 78px;
	z-index: 1;
}

#points, #solved_challenges, #position, #level, #submit, #logout{
	float: left;
	text-align: center;
	padding: 15px;
}

.step_layout{
	background: url('/images/steps.png') no-repeat;
	right: 0px;
	width: 706px;
	height: 416px;
	bottom: 68px;
}

#submit form, #logout form{
	margin-top: 15px;
}

#sun{
	position: absolute;
	right: 50px;
	top: 120px;
}

#top{
	width: 100%;
	height: 100px;
	padding-top: 10px;
	text-align: center;
	margin: 0 auto;
	z-index: 999;	
}

#trees{
	position: absolute;
	bottom: 29px;
	background: url('/images/trees.png') repeat-x;
	width: 100%;
	height: 78px;
	z-index: 1;
}

#wrapper{
	position: relative;
	width: 100%;
	min-height: 100%;
	position: relative;
	margin: 0 auto;
}

/**/

.challList {
	z-index: 999;
}

.description, .result_class {
  background: none repeat scroll 0 0 #F8F8F8;
  border: 5px solid #DFDFDF;
  padding: 5px;
  color: #000;
  font-size: 10px;
  width: 400px;
  display: none;
  z-index: 999;
  position: relative;
  margin: 0 auto;
}

.description h2, .result_class h2{
	font-family: SuperMario;
	text-align: center;
	text-transform: uppercase; 
}

#X {
	font-family: SuperMario;
	text-align: right;
	text-transform: uppercase; 
}

/*.description:after{
    content:'';
    position:absolute;
    bottom:-10px;
    width:10px;
    height:10px;
    border-bottom:5px solid #dfdfdf;
    border-right:5px solid #dfdfdf;
    background:#f8f8f8;
    left:50%;
    margin-left:-5px;
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
}*/

.description p {
	font-family: "Arial";
  	font-size: 10pt;
}

.description a, a:hover {
	color: #000;
}

.description p.center, .result_class p.center {
	font-family: SuperMario;
	text-align: center;
}


/*p{
    margin:100px;
    float:left;
    position:relative;
    cursor:pointer;
}
a:hover .description{
    display:block;
}*/

.center {
	font-family: SuperMario;
	text-align: center;
}

#login, #logintest {
	margin: 10px;
	padding: 10px;
	border: #FFF 5px dotted;
}

#result_login {
	margin-top: 100px ;
}

#position a, #position a:hover {
	color: yellow;
	text-decoration: none;
}

#hints {
	background-color: rgba(147,147,147,0.8);
	color: #000;
	height: 70%;
	width: 60%;
	margin: 23px auto 0px;
}

#hints_list {
	margin: 0;
	overflow-y: scroll;
	height: 100%;
}

#hints_list li {
	font-family: Arial;
	font-weight: 700;
	list-style-type: none;
	font-size: 9pt;
	padding:0;
}

#hints_list li:before {
	content: "\00BB \0020";}

.team {
	color: yellow;
}

.global {
	color: #FFF;
}

#legend {
	position: absolute;
	top: 120px;
	display: block;
	margin: 0;
}

#legend div {
	display: block;
}

#legend img {
	width: 34px;
}

#credits {
	font-family: Arial;
	font-size: 8pt;
	font-weight: 700;
	position:absolute;
	bottom: 10px;
	right: 5px;
}