{% extends "layout.html" %}
{% block title %}PoliCTF 2015{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div style="font-size: 12pt">
<h1>Instructions</h1>
<strong>Capture the Flags (CTFs)</strong> are competitions that involve many aspects of information security: cryptography, steganography, binary analysis, reverse engineering, mobile security and others.<br />
There are two common types of CTFs: <strong>Jeopardy</strong> and <strong>Attack-Defence</strong>.<br /><br />
PoliCTF is a Jeopardy style CTF.<br />It has some questions (challenges) of different categories (Crypto, Reversing, Web, Pwnable, Forensics, GrabBag). <br />The objective of each challenge is to recover a special string called flag. PoliCTF flags are in the format "<strong><em>flag{<flag_here>}</em></strong>". The whole string including "flag{" and "}"" needs to be submitted as flag. <br />
Teams gain points for every solved challenge.<br />The first three solvers for a challenge get bonus points (6%, 4% and 2% of the challenge value). <br />Some challenges are initially locked and can be opened only after some team solve unlocked challenges.
<br /><br /><strong>PoliCTF scoreboard</strong> can be accessed <a href="http://polictf.it/scoreboard/login">here</a>.
<br />You can download the packages of challenges directly from the scoreboard, or from this <a href="http://polictf.it/challenges.torrent">torrent</a>. <span style="font-size: 8pt">(Some challenge will be available only on the torrent)</span><br /> Each package has been encrypted with AES-256.
<br />You can find the decryption keys on the scoreboard below the description of each challenge (if the challenge is open).<br /> 
To decrypt the packages you can use GPG: <br /> 
<em style="font-size: 13pt">gpg -o &lt;output_file&gt; -d &lt;encrypted_file&gt;</em> <br /><span style="font-size: 8pt">(Type the correct key when requested)</span>
</div>
{% endblock %}

