{% extends "layout.html" %}
{% block title %}PoliCTF 2015{% endblock %}

{% block head %}
    <script type="text/javascript" src="js/codef_core.js"></script>
    <script type="text/javascript" src="js/codef_starfield.js"></script>
    <script type="text/javascript" src="js/codef_scrolltext.js"></script>
    <script type="text/javascript" src="js/codef_3d.js"></script>
    <script type="text/javascript" src="js/scroller_text.js"></script>
    <script type="text/javascript" src="js/glfx.js"></script>
    <script type="text/javascript" src="js/pt.js"></script>
    <script type="text/javascript" src="js/obj.js"></script>
    <script type="text/javascript" src="js/demo.js"></script>

    <script>
    function fullscr(elemId) {
        var elem = document.getElementById(elemId);
        if (elem.requestFullscreen) {
            elem.requestFullscreen();
        } else if (elem.mozRequestFullScreen) {
            elem.mozRequestFullScreen();
        } else if (elem.webkitRequestFullScreen) {
            elem.webkitRequestFullScreen(Element.ALLOW_KEYBOARD_INPUT);
        }
    }

    window.addEventListener('load', initDemo, false);
    </script>
    
{% endblock %}

{% block content %}
<div>
<h1>Cannot confirm registration for your team.</h1>
Perhaps you already confirmed your registration?
If the error persists please contact us.</div>
{% endblock %}

