{% extends "layout.html" %}
{% block title %}PoliCTF 2015{% endblock %}

{% block head %}
<link rel='stylesheet' href="css/bootstrapvalidator.min.css" />
<link rel='stylesheet' href="css/formhelpers.min.css" />
{% endblock %}

{% block content %}
<div class="row marginbottom">
    <div class="col-xs-12 col-sm-12 col-md-7">
        <div class="main-text">
          Competition will start in:
          <center>
           <h3>
              <div><script>
              TargetDate = "07/10/2015 9:00 AM GMT";
              BackColor = "black";
              ForeColor = "CornflowerBlue";
              CountActive = true;
              CountStepper = -1;
              LeadingZero = true;
              DisplayFormat = "%D Days, %H Hours<br/>%M Minutes, %S Seconds.";
              FinishMessage = "It is finally here!";
              </script>

              <span id="countdown" class="timer"></span>

              <script language="JavaScript" src="js/countdown.js"></script></div>
            </h3>
          </center>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-5 main_block">
        <div class="main-text col-md-10">
            <div id="reg-error"></div>
            <form class="form" id="reg-form" data-toggle="validator">
                <div class="form-group">
                    <label for="username">Team name</label>
                    <input type="text" class="form-control" pattern="^([_A-z0-9]){3,}$" maxlength="20" id="username" placeholder="TeamName" data-error required>
                    <span class="help-block">Up to 20 letters, numbers and underscores</span>
                </div>
                <div class="form-group">
                    <label for="password_first">Password</label>
                    <input type="password" data-minlength="8" class="form-control" id="password_first" placeholder="Password" required>
                    <span class="help-block">Minimum of 8 characters, containing letters and numbers</span>
                </div>
                <div class="form-group">
                    <label for="password_check">Repeat Password</label>
                    <input type="password" class="form-control" id="password_check" placeholder="Repeat Password" data-error="Whoops, these don't match" data-match="#password_first" data-match-error="Whoops, these don't match" required> 
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <label for="email_address">Email address</label>
                    <input type="email" class="form-control" id="email_address" placeholder="Enter email" data-error="Mail adress not correct" required>
                    <span class="help-block with-errors"></span>
                </div>
                <div class="form-group">
                    <label for="email_address_confirm">Confirm Email address</label>
                    <input type="email" class="form-control" id="email_address_confirm" placeholder="Enter email" data-error="Whoops, these don't match" data-match="#email_address" required>
                    <span class="help-block with-errors"></span>
                </div>
                <div class="form-group">
                    <label for="country">Country</label>
                    <div class="bfh-selectbox bfh-countries" data-flags="true" data-blank="false" data-country="US"></div>
                </div>
                <div class="form-group">
                    <label for="web_url">Website/Twitter</label>
                    <input class="form-control" id="web_url" placeholder="Website/Twitter">
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="check_rules" data-error="You must accept the rules ;)" required>I accept the <a href="rules.html" target="_blank">rules</a>
                            <div class="help-block with-errors"></div>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </form>
            <div class="form-group">
                <div id="messages"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="js/validator.js"> </script>
<script src="js/formhelpers.min.js"> </script>
<script>
$('#reg-form').validator().on('submit', function (e) {
    if (!e.isDefaultPrevented()) {
		$("#reg-error").removeClass();
		$("#reg-error").text("");
        // everything looks good!
        e.preventDefault();
        // Use Ajax to submit form data
        $.ajax({
            method: "POST",
            url: "{{ registration_url }}",
            data: { name:  $("#username").val(), 
                    email: $("#email_address").val(),
                    password: $("#password_first").val(),
                    rules: $("#check_rules").is(":checked") ? "y" : "n",
                    country: $("span.bfh-selectbox-option").text(),
                    website: $("#web_url").val() 
            },
            success: function(data_r) {
				if(data_r.done) {
					$("#reg-error").addClass("ok");
					$("#reg-error").html( ">> Registration successful. <br /> An e-mail has been sent to you to confirm the registration.");
					$("html, body").animate({ scrollTop: 0 }, "slow");
					$("#reg-form").hide()
				}
				else {
					var error_t = "";
					$("#reg-error").addClass("error");
					for (error_elm in data_r.errors) {
						error_t = error_t + "<br /> - " + data_r.errors[error_elm].trim();
					}
					$("#reg-error").html(">> Some data isn't correct: <div style=\"font-size: 9pt;\">" + error_t + "</div>" );
					$("html, body").animate({ scrollTop: 0 }, "slow");
				}
            },
            error: function() { 
               $("#reg-error").addClass("error");
			   $("#reg-error").text( ">> Technical error. Please retry later.");
			   $("html, body").animate({ scrollTop: 0 }, "slow");
            }
        });
    }
});
</script>
{% endblock %}
